<h4>Главная страница приложения с описанием возможностей приложения, по техническому заданию</h4>
@* <a class="btn btn-secondary" asp-controller="Product" asp-action="ProductList">Товары</a> *@
@* <a href="@Url.Action("ProductList","Product")" class="btn btn-secondary">Товары</a> *@