
@model IQueryable<PriceListEditor.WebApplication.Models.Product>

<h4>Страница списка продуктов с пагинацией, кнопками CRUD, фильтром категорий продукта</h4>


@foreach (var p in Model ?? Enumerable.Empty<PriceListEditor.WebApplication.Models.Product>())
{
    <div>
        <h3>@p.ProductName</h3>
        @p.ProductDescription
        <h4>@p.ProductPrice.ToString("c")</h4>
    </div>
}